html,body {
	margin: 0;
	padding: 0 !important;
	top: 0;
	left: 0;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#bhome, #bprojects, #bcontact {
	cursor: pointer;
}

a.navbar-brand {
	padding-right: 7px;
	padding-left: 7px;
	color: rgb(33, 37, 41) ;
	background: white;
	border-radius: 50%
}

.nav-item {
	color: white !important;
}

.btn-primary {
	background: #212529 !important;
	border: none;
	outline: none !important;
}

#home {
	color: white;
	padding: 0 10%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-image: url(../img/tunnel.jpg);
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	overflow: auto;
}

#home > div {
	margin: auto;
	text-align: center;
}

h1 {
	font-weight: 700 !important; 
	margin-bottom: 2%;
}

#projects {
	padding: 50px 10% 2% 10%;
}

.col-md-6 {
	margin-bottom: 20px;
}

#contact {
	padding: 50px 10% 2% 10%;
	background: #212529 !important;
	color: white;
}

svg {
	margin-right: 2%;
}

.footer {
	margin-top: 2%;
	text-align: center;
	border-top: 2px solid white;
}

@media screen and (max-width: 540px) {
	html { 
		font-size: 12px; 
	} 

}
	

